.home {
  width: 100%;
  /* Ensure table takes full width */
  border-collapse: collapse;
  /* Collapse table borders */
}

.home th,
.home td {
  padding: 8px;
  text-align: left;
}

.home tr:nth-child(even) {
  background-color: lightgray;
}

button {
  float: right;
  margin: 0;
  padding: 0;
}

div.userID td {
  margin: 0;
}

div.userID tr {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}