.Events {
    display: flex;
    justify-content: space-between;
    padding: 2em;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line if needed */
}

.CreateEventContainer,
.ViewEventsContainer {
    flex: 1 0 calc(50% - 1em);
    /* Set a flexible width for each container with spacing */
    margin-bottom: 2em;
    /* Add vertical spacing between containers */
}

.postEvent {
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e1e1e1;
}

.postEvent input[type="text"] {
    width: 100%;
    /* Occupy full width within postEvent container */
    padding: 8px;
    /* Adjust input padding */
    margin-bottom: 10px;
    /* Add spacing below input fields */
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:active {
    background-color: #004085;
}

.home {
    width: 100%;
    overflow-x: auto;
    /* Enable horizontal scrolling for table if needed */
}

.header-cell {
    text-align: center;
    background-color: #009879;
    color: #ffffff;
    padding: 12px 15px;
    border-radius: 5px 5px 0 0;
}

.home td {
    text-align: center;
    padding: 12px 15px;
}

.home tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.home table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
}

.home button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.home button:hover {
    background-color: #cc0000;
}

.home tr {
    height: 50px;
}

.size tr {
    height: 30px;
}

.size table {
    width: 20px;
}